body {
    background-color: #F2F2F2;
}


/*
 * MAIN NAV BAR
 */

.responsibleNav {
    background-color: #2B323A;
    color: white;
    font-size: 28px;
}

.responsibleNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.responsibleNav li {
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 4px;
    padding-left: 3px;
}

.responsibleNav a {
    color: #AFB2B5;
    vertical-align: middle;
}

.responsibleNav a:hover {
    color: #fff;
}

.responsibleNav a.active {
    color: #2196F3;
}

.responsibleNav li.active {
    background-color: white;
    border-radius: 25px;
}

@media (min-width: 768px) {
    .responsibleNav {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 75px;
        padding-top: 15px;
    }

    .responsibleNav li {
        margin: 0 15px 30px 10px;
    }

    .contents {
        margin-left: 75px;
    }
}

@media (max-width: 767px) {
    .responsibleNav {
    }

    .responsibleNav li {
        display: inline-block;
        margin: 10px;
    }
}


/*
 * PAGE NAV BAR
 */

.pageWithNav {
    position: relative;
}

.pageWithNavBody {
    position: relative;
    z-index: 1;
}

.pageNavContainer {
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
}

.pageNav ul {
    background-color: #E4E4E4;
    height: 50px;
    width: 100%;
    font-size: 14px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #1299F6;
}

@media (max-width: 767px) {
    .pageNav ul {
        top: 70px;
    }
}



.pageNav li {
    display: inline-block;
    height: 40px;
    margin: 10px 0 0 10px;
    padding: 7px 15px 0 15px;
}

.pageNav li.active {
    background-color: #F2F2F2;
    border: 1px solid #1299F6;
    border-bottom-width: 0;
    border-top: 5px solid #1299F6;

    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.pageWithNavBody {
    margin-top: 50px;
    padding: 10px 20px 0 20px;
}

/*
 * FORMS
 */

.form-inline label {
    margin-right: 5px;
}

.form-inline input, .form-inline select {
    margin-right: 15px;
}