/*
 * adjust bootstrap
 */

.form-inline label {
    margin-right: 5px;
}

.form-inline input, .form-inline select {
    margin-right: 15px;
}

.panel {
    margin-bottom: 10px;
}

.table th {
    padding-top: 0 !important;
}

.table {
    margin-bottom: 0;
}

.table .table-pointer {
    cursor: pointer;
}




body {
    background-color: #F2F2F2;
}


/*
 * MAIN NAV BAR
 */

.responsibleNav {
    background-color: #2B323A;
    color: white;
    font-size: 28px;
}

.responsibleNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.responsibleNav li {
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 4px;
    padding-left: 3px;
}

.responsibleNav a {
    color: #AFB2B5;
    vertical-align: middle;
}

.responsibleNav a:hover {
    color: #fff;
}

.responsibleNav a.active {
    color: #2196F3;
}

.responsibleNav li.active {
    background-color: white;
    border-radius: 25px;
}

@media (min-width: 768px) {
    .responsibleNav {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 75px;
        padding-top: 15px;
    }

    .responsibleNav li {
        margin: 0 15px 30px 10px;
    }

    .contents {
        margin-left: 75px;
    }
}

@media (max-width: 767px) {
    .responsibleNav {
    }

    .responsibleNav li {
        display: inline-block;
        margin: 10px;
    }
}


/*
 * PAGE NAV BAR
 */

.pageWithNav {
    position: relative;
}

.pageWithNavBody {
    position: relative;
    z-index: 1;
}

@media (min-width: 768px) {
    .pageNavContainer {
        position: fixed;
        z-index: 999;
        top: 0;
        width: 100%;
    }

    .pageWithNavBody {
        margin-top: 50px;
    }
}

.pageNav ul {
    background-color: #E4E4E4;
    height: 50px;
    width: 100%;
    font-size: 14px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #1299F6;
}

@media (max-width: 767px) {
    .pageNavContainer {
        top: 70px;
        width: 100%;
    }
}



.pageNav li {
    display: inline-block;
    height: 40px;
    margin: 10px 0 0 10px;
    padding: 7px 15px 0 15px;
}

.pageNav li.active {
    background-color: #F2F2F2;
    border: 1px solid #1299F6;
    border-bottom-width: 0;
    border-top: 5px solid #1299F6;

    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.pageWithNavBody {
    padding: 15px 5px 0 5px;
}

.colWithSmallerGutter {
  padding-right: 5px;
  padding-left: 5px;
}

/*
 * own components
 */

.toggleButtons .btn {
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
}

.toggleButtons .btn i {
    padding-right: 10px;
}

.toggleButtons .btn .badge {
    margin-right: 10px;
}

.toggleButtons .btn-default i {
    color: #AAA;
}

.toggleButtons .btn-default .badge {
    background-color: #AAA;
}

.toggleButtons .btn:last-child {
    width: 100%;
    margin-bottom: 0;
}

.vocIcon i {
    color: #AAA;
}

.vocIcon .badge {
    background-color: #AAA;
}